<div id="footer-wrapper">
  <section id="footer" class="container">
    <div class="row">
      
      <div class="4u 12u(mobile)">
        <section>
          <header>
            <h2>Redes Sociais</h2>
          </header>
          <ul class="social">
            <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
            <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
            <li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
            <li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
            <li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
          </ul>
          <ul class="contact">
            <li>
              <h3>Endereço</h3>
              <p>
                Untitled Incorporated<br />
                1234 Somewhere Road Suite<br />
                Nashville, TN 00000-0000
              </p>
            </li>
            <li>
              <h3>Mail</h3>
              <p><a href="#">someone@untitled.tld</a></p>
            </li>
            <li>
              <h3>Telefone</h3>
              <p>(800) 000-0000</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="12u">

        <!-- Copyright -->
          <div id="copyright">
            <ul class="links">
              <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="https://www.linkedin.com/in/pedro-rangel/">Pedro Rangel</a></li>
            </ul>
          </div>

      </div>
    </div>
  </section>
</div>

