


    <!-- Header -->
    <nav id="template-navbar" class="navbar navbar-default custom-navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Food-fair-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="src/app/images/Logo_main.png" class="logo img-responsive">
                    </a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="Food-fair-toggle">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about">Login</a></li>
                        <li><a href="#peca-agora">Peça Agora</a></li>
                        <li><a href="#meus-pedidos">Meus Pedidos</a></li>
                        <li><a href="#carrinho">Carrinho</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.row -->
        </nav>
    
    
        <!--== 5. Header ==-->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/1.jpg" alt="Chania">
                    <div class="carousel-caption">
                        <h1 class="header-title"><strong>TODOS OS DIAS</strong></h1>
                        <h3 class="header-title2"><strong>Na compra de duas pizzas,  ganhe 50% de desconto na segunda</strong></h3>
                        <h5 class="header-sub-title">Promoção válida para pizzas do mesmo valor ou menor</h5>
                        <h5 class="header-sub-title">Exceto sabor Aliche Importado</h5>
                    </div>
                </div>
            
                <div class="item">
                    <img src="images/2.jpg" alt="Chicago">
                    <div class="carousel-caption">
                        <h1 class="header-title"><strong>PROMOÇÃO DE SEGUNDA</strong></h1>
                        <h3 class="header-title2"><strong>Qualquer pizza família por 49,90</strong></h3>
                        <h5 class="header-sub-title">Exceto sabor Aliche Importado</h5>
                    </div>
                </div>
            
                <div class="item">
                    <img src="images/3.jpg" alt="New York">
                    <div class="carousel-caption ">
                        <h1 class="header-title"><strong>PROMOÇÃO TERÇA e QUARTA</strong></h1>
                        <h3 class="header-title2"><strong>Na compra de uma pizza média, ganhe outra</strong></h3>
                        <h5 class="header-sub-title">Promoção válida para pizzas do mesmo valor ou menor</h5>
                        <h5 class="header-sub-title">Exceto sabor Aliche Importado</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
            <!--== 6. About us ==-->
    <section id="about" class="about">
        <img src="images/icons/about_color.png" class="img-responsive section-icon hidden-sm hidden-xs">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row dis-table">
                    <div class="hidden-xs col-sm-6 section-bg about-bg dis-table-cell">
    
                    </div>
                    <div class="col-xs-12 col-sm-6 dis-table-cell">
                        <div class="section-content">
                            <h2 class="section-content-title">Horário de Atendimento</h2>
                            <p class="section-content-para">
                                Segunda a Sábado de 11:00 as 00:00
                            </p>
                            <p class="section-content-para">
                                Domingo de 17:00 as 00:00
                            </p>
                        </div> <!-- /.section-content -->
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container-fluid -->
        </div> <!-- /.wrapper -->
    </section> <!-- /#about -->
        <!--==  7. Afordable Pricing  ==-->
    <section id="peca-agora" class="pricing">
        <div id="w">
            <div class="pricing-filter">
                <div class="pricing-filter-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="section-header">
                                    <h2 class="pricing-title">Nossas Pizzas</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container py-5">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Passo 1</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Passo 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Passo 3</p>
                    </div>
                </div>
            </div>
            <div class="container">                            
                <form role="form" action="" method="post">
                    <div class="row setup-content" id="step-1">
                        <div class="col-md-10">
                            <div class="col-md-12">
                                <h3 style="text-align: center;background-color:#8bc34a;color:white;">Escolha o Tamanho</h3>
                                <div class="form-group" style="text-align:center;">
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Broto</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Média</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Grande</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Gigante</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Família</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Média 2 Sabores</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Grande 2 Sabores</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Gigante 2 Sabores</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Família 2 Sabores</label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-success nextBtn btn-lg pull-right " type="button" >Próximo</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-12">
                                <h3 style="text-align: center;background-color:#8bc34a;color:white;"> Escolha o Sabor</h3>
                                <ul id="menu-pricing" class="menu-price">
                                    <li class="item pizza">
                                        <a href="#">
                                            <img src="images/pepperoni.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc text-center">
                                                <span>
                                                    <h3>Pepperoni</h3>
                                                    Ingredientes: Tomate, Muçarela, Presunto, Pepperoni
                                                </span>
                                            </div>
            
                                        </a>  
                                        <h2 class="white">$20</h2>
                                    </li>      
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/milhoebacon.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Prawn Dish</h3>
                                                    Lorem ipsum dolor sit amet
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$20</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/frango.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Salad Dish</h3>
                                                    Consectetur adipisicing elit, sed do eiusmod
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$18</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/lombinho.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Prawn Dish</h3>
                                                    Tempor incididunt ut labore et dolore
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$15</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/palmito.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Vegetable Dish</h3>
                                                    Magna aliqua. Ut enim ad minim veniam
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$20</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/amoda.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Chicken Dish</h3>
                                                    Quis nostrud exercitation ullamco laboris
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$22</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/carneseca.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Vegetable Noodles</h3>
                                                    Nisi ut aliquip ex ea commodo
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$32</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/parma.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Special Salad</h3>
                                                    Duis aute irure dolor in reprehenderit
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$38</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/aliche.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Ice-cream</h3>
                                                    Excepteur sint occaecat cupidatat non
                                                </span>
                                            </div>
                                        </a>
                                        
                                        <h2 class="white">$38</h2>
                                    </li>
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-3">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                                <h3> Step 3</h3>
                                <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>                            
            </div> 
        </div>
        <div id="w">
            <div class="massa-filter">
                <div class="pricing-filter-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="section-header">
                                    <h2 class="pricing-title">Nossas Massas</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="container py-5">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-massa1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Passo 1</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-massa2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Passo 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-massa3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Passo 3</p>
                    </div>
                </div>
            </div>
            <div class="container">                            
                <form role="form" action="" method="post">
                    <div class="row setup-content" id="step-massa1">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-12">
                                <h3 style="text-align: center;background-color:#8bc34a;color:white;"> Escolha o Sabor</h3>
                                <ul id="menu-pricing2" class="menu-price">
                                    <li class="item pizza">
                                        <a href="#">
                                            <img src="images/lasanhafrango.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc text-center">
                                                <span>
                                                    <h3>Pepperoni</h3>
                                                    Ingredientes: Tomate, Muçarela, Presunto, Pepperoni
                                                </span>
                                            </div>
            
                                        </a>  
                                        <h2 class="white">$20</h2>
                                    </li>      
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/lasanhapresunto.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Prawn Dish</h3>
                                                    Lorem ipsum dolor sit amet
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$20</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/lasanhaqueijo.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Salad Dish</h3>
                                                    Consectetur adipisicing elit, sed do eiusmod
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$18</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/ravioli.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Prawn Dish</h3>
                                                    Tempor incididunt ut labore et dolore
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$15</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/ravioliricota.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Vegetable Dish</h3>
                                                    Magna aliqua. Ut enim ad minim veniam
                                                </span>
                                            </div>
                                        </a>
                                            
                                        <h2 class="white">$20</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/nhoque.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Chicken Dish</h3>
                                                    Quis nostrud exercitation ullamco laboris
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$22</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/canelonipresunto.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Vegetable Noodles</h3>
                                                    Nisi ut aliquip ex ea commodo
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$32</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/caneloniqueijoj.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Special Salad</h3>
                                                    Duis aute irure dolor in reprehenderit
                                                </span>
                                            </div>
                                        </a>
            
                                        <h2 class="white">$38</h2>
                                    </li>
                                    <li class="item pizza">
            
                                        <a href="#">
                                            <img src="images/caneloniricota.jpg" class="img-responsive" alt="Food" >
                                            <div class="menu-desc">
                                                <span>
                                                    <h3>Ice-cream</h3>
                                                    Excepteur sint occaecat cupidatat non
                                                </span>
                                            </div>
                                        </a>
                                        
                                        <h2 class="white">$38</h2>
                                    </li>
                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-massa2">
                        <div class="col-md-10">
                            <div class="col-md-12">
                                <h3 style="text-align: center;background-color:#8bc34a;color:white;">Escolha o molho</h3>
                                <div class="form-group" style="text-align:center;">
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">bolonhesa</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Ao Sugo</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Branco</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="optradio">Rosê</label>
                                    </div>
                                    
                                </div>
                                <div>
                                    <button class="btn btn-success nextBtn btn-lg pull-right " type="button" >Próximo</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-massa3">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                                <h3> Step 3</h3>
                                <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>                            
            </div> 
        </div>
    </section>
    
    <section id="contact" class="contact">
        <div class="container-fluid color-bg">
            <div class="social-media">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="center-block">
                            <li><a href="#" class="fb"></a></li>
                            <li><a href="#" class="twit"></a></li>
                            <li><a href="#" class="g-plus"></a></li>
                            <li><a href="#" class="link"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="copyright text-center">
    
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    